<!DOCTYPE html>
<html>
  <head>

    <title>ExSTRAVAgant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' , media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.MAPS_API_KEY}" %>


    <meta property="og:title" content="exSTRAVAgant" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://exstravagant.herokuapp.com/#/" />
    <meta property="og:image" content='<%= image_url asset_path('exstrava_sample.png') %>'/>
    <meta property="og:description" content="The #1 App for runners!" />

    
    <script type='text/javascript'>
      window.logo = "<%= image_url('homepage_logo.png') %>";
      window.email = "<%= image_url('email.png') %>";
      window.main_logo_orange = "<%= image_url('main_logo_orange.png') %>"
      window.main_logo_white = "<%= image_url('main_logo_white.png') %>"
      window.dashboard_banner = "<%= image_url('dashboard_banner.png') %>"
      window.profile_picture = "<%= image_url('profile_picture.png') %>"
      window.routes_show_picture = "<%= image_url('routes_show_picture.png') %>"
    </script>


    <script type="text/javascript">
      window.key = "<%= Rails.application.credentials.MAPS_API_KEY %>"
    </script>
    
    <script 
      src="https://kit.fontawesome.com/4e16ab7eb3.js" crossorigin="anonymous">
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
  
    <link rel="shortcut icon" type="image/png" href="<%= image_url asset_path('favicon.png') %>">
     
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
